::ng-deep {
  // Manipulate initial background color
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }

  // Manipulate background color on hover and focus
  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }
}

.pidor {
  background-color: rgba(0, 0, 0, 0) !important;
}
