app-main-sidenav {
  width: 25%;
  max-width: 200px;
}

.indent {
  height: 28px;
  width: 100%;
  background-color: rgba(252, 252, 252, 1);
}

.content {
  width: 100%;
  background-color: #AFEEEE;
}
