.account-settings {
  width: 672px;
  height: 544px;
  padding: 20px 80px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  box-shadow: 0 4px 28.8px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__control {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
