.sidenav {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 30px;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 4px 28.8px 0 rgba(0, 0, 0, 0.11);
  height: 100%;
}
.sidenav-option {
  &--active {
    border-bottom: 1px solid #fff;
  }
}

.mt-30 {
  margin-top: 30px;
}
