<div class="edit-and-submit-dialog">
  <form [formGroup]="templateFormGroup">
    <textarea formControlName="template" class="edit-and-submit-dialog__textarea w-100" rows="15" readonly></textarea>

    <p class="edit-and-submit-dialog__txt">Select group of receivers or <a routerLink="/main/receivers" class="edit-and-submit-dialog__link" (click)="cancel()">create new group</a></p>
    <ng-select [items]="receiversGroups$ | async"
               class="mb-3"
               bindLabel="groupName"
               bindValue="groupName"
               [searchable]="false"
               placeholder="Select group of receivers"
               formControlName="receiversGroup"></ng-select>

    <mat-form-field class="w-100">
      <mat-label>Enter what person this letter will be sent from</mat-label>
      <input type="text"
             matInput
             formControlName="from"
             placeholder="Enter what person this letter will be sent from"
             class="w-100 mb-3">
    </mat-form-field>

    <div class="edit-and-submit-dialog__buttons">
      <button type="button" mat-flat-button class="app-button" (click)="submit()">Submit</button>
      <div class="w-24"></div>
      <button type="button" mat-flat-button class="app-button app-button__red" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
