section {
  display: table;
}

.wrapper-login {
  display: flex;
  flex-direction: column;
  padding: 0 120px;
}

.title {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  line-height: 30px;
}

.wrapper-signUp {
  display: flex;
  justify-content: center;
}

.a-signUp {
  color: rgba(255, 159, 105, 1);
  font-size: 18px;
  line-height: 22px;
  margin-left: 7px;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 61px;
    height: 1.5px;
    background-color: #FF9F69;
    left: 0;
    top: 20px;
  }
}

.txt-signUp {
  color: rgba(142, 142, 142, 1);
  font-size: 16px;
  line-height: 22px;
  margin-right: 7px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
}
