<form class="wrapper-login" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2 class="title">Login</h2>
  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input type="text" placeholder="Enter login" class="w-100" matInput formControlName="email">
    @if (formState['email'].touched && formState['email'].hasError('email') &&
      !formState['email'].hasError('required')) {
      <mat-error>Email is invalid</mat-error>
    }
    @if (formState['email'].touched && formState['email'].hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" placeholder="Enter password" class="w-100" matInput formControlName="password">
    @if (formState['password'].touched && formState['password'].hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>
  <button mat-flat-button class="app-button mb-35">Log In</button>
  <div class="wrapper-signUp">
    <p class="txt-signUp">New account?</p>
    <a (click)="goToRegister()" class="a-signUp" type="button">Sign up</a>
  </div>
</form>
