<div class="promo">
  <ul class="navigation">
    @for (section of sections; track section.id) {
      <li [class.active]="activeSection === section.id" (click)="section.onClick()">{{ section.label }}</li>
    }
    <div class="navigation__actions">
      <button class="app-button app-button__fluid app-button__blue navigation__actions__btn" (click)="redirectTo('/auth/login')">Log In</button>
      <button class="app-button app-button__fluid app-button__white navigation__actions__btn" (click)="redirectTo('/auth')">Sign Up</button>
    </div>
  </ul>

  <div class="section why-us" id="why-us">
    <div class="reason">
      <div class="title">Innovative Communication Solution</div>
      <div class="subtitle">Our AI-driven email generation tool leads in innovative communication, enhancing both
        productivity and creativity in crafting emails
      </div>
    </div>
    <div class="reason">
      <div class="title">Emotionally Resonant Emails</div>
      <div class="subtitle">Ensures every email is not just read, but felt, making your messages more impactful.</div>
    </div>
    <div class="reason">
      <div class="title">Time-Saving</div>
      <div class="subtitle">Significantly saves time by automating the email creation process, allowing for quick
        generation of high-quality content
      </div>
    </div>
    <div class="reason">
      <div class="title">Indispensable Tool</div>
      <div class="subtitle">Becomes an essential tool for professionals and businesses aiming for efficient and
        effective email communication
      </div>
    </div>
    <div class="reason">
      <div class="title">Context and Purpose Understanding</div>
      <div class="subtitle">Utilizes natural language processing and machine learning algorithms to grasp the context
        and purpose of messages, generating similar emails that preserve the original content's essence while adding new
        perspectives
      </div>
    </div>
    <div class="reason">
      <div class="title">Advanced AI Technology</div>
      <div class="subtitle">Harnesses advanced AI, offering a seamless experience in generating content that truly
        resonates with the audience
      </div>
    </div>
  </div>
  <div class="section who-needs-this-product" id="who-needs-this-product">
    <div class="reason">
      <div class="title">Marketing Teams</div>
      <div class="subtitle">Crafting personalized, engaging emails for campaigns can be time-consuming. Our tool allows teams to quickly generate variations, ensuring content freshness and A/B testing efficiency. It's also ideal for creating seasonal promotions and targeted offers that need to be customized for different customer segments. A/B testing efficiency.
      </div>
    </div>
    <div class="reason">
      <div class="title">Customer Support Representatives</div>
      <div class="subtitle">Responding to customer inquiries with prompt, thoughtful, and personalized emails is key to customer satisfaction. Our AI helps generate responses that are both efficient and tailored to individual queries, providing a base for high-quality replies that can be fine-tuned for added personal touch.
      </div>
    </div>
    <div class="reason">
      <div class="title">Content Creators and Bloggers</div>
      <div class="subtitle">For those who engage with their audience via email newsletters, our product can help generate creative content that keeps readers engaged and subscribed. It aids in overcoming writer's block by suggesting topics and content outlines that resonate with readers' interests.
      </div>
    </div>
    <div class="reason">
      <div class="title">Business Leaders and Entrepreneurs</div>
      <div class="subtitle">Time is a critical resource. Our tool helps streamline email communication, ensuring that messages remain professional, on-brand, and impactful, without the need for extensive time investment. It also aids in networking by crafting follow-ups and outreach emails that are likely to receive a response.</div>
    </div>
    <div class="reason">
      <div class="title">Human Resources &nbsp; Professionals</div>
      <div class="subtitle">For HR teams, communication with potential candidates and existing staff is frequent and varied. From interview invitations to company updates, our tool ensures that each email is tailored to its purpose and audience.</div>
    </div>
  </div>
  <div class="section our-values" id="our-values">our-values</div>
  <div class="section our-mission" id="our-mission">our-mission</div>
  <div class="section get-started" id="get-started">get started</div>
  <ngx-particles id="tsparticles" [options]="PARTICLE_OPTIONS"></ngx-particles>
</div>
