<div class="about-project">
  <div class="about-project__item">
    <div class="about-project__item__title">
      1. Why this project?
    </div>
    <div class="about-project__item__text">
      As we know, email marketing services are constantly evolving, and we offer a tool that will make your email
      campaigns more unique and engaging
    </div>
  </div>
  <div class="about-project__item">
    <div class="about-project__item__title">
      2. Who needs this product?
    </div>
    <div class="about-project__item__text">
      This product is intended for anyone looking to make their email campaigns more effective and noticeable. It's
      designed for small and medium-sized businesses, marketers, designers, and anyone who understands that visual
      impact and original text play a crucial role in successful communication with customers. Regardless of your
      industry and target audience, our product will help you stand out and achieve your goals
    </div>
  </div>
  <div class="about-project__item">
    <div class="about-project__item__title">
      3. Our Values
    </div>
    <div class="about-project__item__text">
      We believe in innovation, creativity, and continuous growth. Our values include a commitment to quality,
      partnership with clients, and respect for their needs. We take pride in helping our clients achieve their goals.
    </div>
  </div>
  <div class="about-project__item">
    <div class="about-project__item__title">
      4. Our Mission
    </div>
    <div class="about-project__item__text">
      Our mission is to make the online communication world more creative and effective. We strive to be innovators and
      leaders in the fields of design and marketing, helping our clients stand out in the digital realm.
    </div>
  </div>
</div>
