.create-letter {
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  padding: 67px 85px;
  border-radius: 50px 0 0 50px;
  box-shadow: 0 4px 28.8px 0 rgba(0, 0, 0, 0.11);

  &__textarea textarea {
    resize: none;
    padding: 5px;
  }

  .amount-dropdown {
    border: 1px solid #000;
    background-color: #fff;
  }
}

.my-dropdown-panel {
  margin-top: 32px;
}

.position-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-slider {
  width: 300px;
}
