<div class="create-letter">
  <form [formGroup]="form" (ngSubmit)="createLetter()">
    <div formGroupName="generateLabelRequest" class="d-flex flex-column">
      <div>
        <mat-form-field class="w-100">
          <mat-label>Enter your label name</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Enter label name" class="w-100">
          @if (generateLabelRequestGroup.get('name')?.hasError('labelExist') && generateLabelRequestGroup.get('name')?.touched) {
            <mat-error>
              Label already exists. Please choose other one
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <mat-label>Enter your label description</mat-label>
          <input matInput type="text" formControlName="description" placeholder="Enter label description" class="w-100">
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="generateMailDescriptionRequest">
      <div>
        <mat-form-field class="w-100">
          <mat-label>Enter title for your letter</mat-label>
          <input type="text" matInput formControlName="title" placeholder="Enter letter title" class="w-100">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <mat-label>Enter your letter</mat-label>
          <textarea type="text" matInput formControlName="body" placeholder="Enter letter text" class="w-100" rows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="mailConfigurationRequest">
      <div>
        <mat-form-field class="w-100">
          <mat-label>Enter person from whose name letter will be written</mat-label>
          <input type="text" matInput formControlName="from" placeholder="Enter person from whose name letter will be written"
            class="w-100">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Select your letter style</mat-label>
          <mat-select formControlName="style" panelClass="my-dropdown-panel">
            <ng-select
              [items]="styleDropdown"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              placeholder="Select your letter style"
            ></ng-select>
            @for (style of styleDropdown; track style) {
              <mat-option [value]="style.value">
                {{ style.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <p class="position-label" style="margin-left: 10px;">Use placeholders</p>
        <mat-checkbox formControlName="usingPlaceHolder" class="mat-checkbox--custom"></mat-checkbox>
      </div>
      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Select amount of created letters</mat-label>
          <mat-select formControlName="templateCount" panelClass="my-dropdown-panel">
            <ng-select
              [items]="amountDropdown"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              placeholder="Select amount of created letters"
            ></ng-select>
            @for (amount of amountDropdown; track amount) {
              <mat-option [value]="amount.value">
                {{ amount.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <p>Enter amount of sentences that will be generated</p>
        <input type="number"
          formControlName="sentenceCount"
          placeholder="Enter amount of sentences that will be generated"
          min="1"
          max="20">
      </div>
    </div>
    <button mat-flat-button class="app-button">Generate letter</button>
  </form>
  <div>
    {{generatedLetters$ | async}}
  </div>
</div>


