@if (receiverGroups$ | async; as receiverGroups) {
  <div class="receivers-list">
    <mat-accordion>
      @for (receiverGroup of receiverGroups; track receiverGroup) {
        <mat-expansion-panel
          [expanded]="expandedGroups.has(receiverGroup.groupName)"
          (opened)="panelOpened(receiverGroup.groupName)"
          (closed)="panelClosed(receiverGroup.groupName)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ receiverGroup.groupName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list>
            @for (emailReceiver of receiverGroup.emailReceiverResponses; track emailReceiver) {
              <div class="receivers-email">
                <div class="receivers-email__txt">{{ emailReceiver.email }}</div>
                <button mat-icon-button (click)="removeEmail(receiverGroup.groupName, emailReceiver.email)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            }
          </mat-action-list>
          <div class="add-email-form">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Add email</mat-label>
              <input matInput [formControl]="emailFormControl" placeholder="Enter email">
            </mat-form-field>
            <button mat-button class="app-button" (click)="addEmail(receiverGroup.groupName, emailFormControl.value)">
              Add
            </button>
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <button class="app-button app-button__white mt-20" (click)="openCreateGroupDialog()">Create group</button>
  </div>
}
